 * {
   /*border: 1px red dashed;*/
 }
 
 .wrapper {
   width: 95%;
   margin: 0 auto;
 }
 
 .my-name {
   float: left;
 }
 
 h2 {
   margin-bottom: 20px;
   margin-top: 30px;
 }
 
 .header {
   width: 100%;
   max-width: 1050px;
   /*padding: 15px;*/
   /*margin: 15px;*/
   /*height: 200px;*/
   top: 0px;
   background-color: white;
   /*z-index: 2;*/
   border-bottom: 3px #65ff65 solid;
   padding-bottom: 10px;
 }
 
 .burger-nav {
   display: block;
   width: 100%;
   height: 80px;
   /*float: right;*/
   background: url(img/burger.png) no-repeat 100% center;
   /*background-size: 25%;*/
   cursor: pointer;
 }
 
 nav {
   /*display: none;*/
   /*float: left;
   clear: both;*/
   width: 100%;
   margin: 0;
   padding: 0;
 }
 /* hide nav heading text - for screen readers*/
 
 nav h2 {
   line-height: 0;
   margin: 0;
   text-indent: -10000px;
 }
 
 nav ul {
   padding: 0;
   overflow: hidden;
   /*height: 0;*/
 }
 
 nav ul.hidden {
   height: auto;
 }
 
 nav li {
   list-style-type: none;
 }
 
 nav li a {
   display: block;
   border-top: 1px grey solid;
   background-color: white;
   padding: 10px;
   font-weight: bold;
   font-size: 1.5em;
 }
 
 nav li:last-of-type {
   border-bottom: 1px grey solid;
 }
 
 .me-img {
   max-width: 150px;
   float: left;
   clear: both;
   margin-right: 10px;
   margin-bottom: 10px;
   border: 3px solid #65ff65;
 }
 
 .about:after {
   content: " ";
   display: block;
   clear: both;
 }
 
 .about {
   clear: left;
 }
 
 .me h2 {
   font-size: 1.2em;
   /*top: 200px;*/
 }
 
 .about,
 .services,
 .clients,
 .study {
   line-height: 1.3em;
 }
 
 .project {
   background: #f8f8f8;
   margin: 5px 5px 5px 5px;
   /*margin: 10px 5px;*/
   padding: 0px 5px;
 }
 
 .projects {
   width: 100%;
   margin: 0 auto;
   padding: 0;
 }
 
 .projects h2 {
   border-bottom: 3px #65ff65 solid;
   padding-bottom: 10px;
 }
 
 .projects img {
   max-width: 50%;
   border: 3px solid #65ff65;
 }
 
 .project-description {
   display: none;
 }
 
 .projects:after {
   content: "";
   display: block;
   clear: both;
 }
 
 .projects div {
   display: inline-block;
   width: 90%;
   text-align: center;
   vertical-align: top;
 }
 
 .projects div h4 {
   text-align: center;
 }
 
 a:link {
   color: #65ff65;
   text-decoration: none;
 }
 
 a:visited {
   color: #65ff65;
 }
 
 a:hover {
   color: #d5d5d5;
 }
 
 .projects a:link,
 .projects a:visited {
   color: #7b7b7b;
 }
 
 .projects a:hover {
   color: #65ff65;
 }
 
 .services h2,
 .clients h2,
 .social h2,
 .study h2 {
   /*background: #eeeeee;*/
   border-bottom: 3px #65ff65 solid;
   padding: 8px
 }

.links ul {
  padding: 0;
}
 .links li {
   list-style-type: none;
   display: inline-block;
   font-size: 2em;
   /*letter-spacing: 20px;*/
   width: 50px;

 }
 
 .hidden {
   display: none
 }
 /* ##############  MEDIA QUERIES #####################*/
 
 @media screen and (min-width: 600px) {
   .wrapper {
     max-width: 1050px;
     margin: 0 auto;
     top: 160px;
     /*padding-left: 50px;*/
   }
   .header {
     /*height: 80px;*/
     /*width: 95%;*/
     margin-left: 0px;
     padding-top: 30px;
     padding-left: 0;
   }
   .header:after {
     content: " ";
     display: block;
     clear: both;
   }
   .me {
     /*margin-top:160px;*/
   }
   nav {
     /*float: right;*/
   }
   nav ul {}
   nav ul li {
     float: right;
     display: inline;
   }
   nav li:last-of-type {
     border: none;
   }
   nav li a {
     border: none;
     font-size: 1em;
     padding: 20px
   }
   .burger-nav {
     display: none;
   }
   .about {
     clear: none;
   }
   .projects {
     clear: both;
     width: 100%;
   }
   .projects div {
     display: inline-block;
     text-align: center;
     vertical-align: top;
     width: 44%;
   }
   .projects img {
     max-width: 130px;
     width: 100%;
   }
   .project {
     padding-bottom: 20px;
     width: 100%;
   }
   .project-description {
     display: block;
     padding-left: 5px;
     padding-right: 5px;
     text-align: left;
   }
   .technologies {
     color: #7b7b7b;
     text-align: left;
     padding-left: 5px;
     padding-right: 5px;
   }
   .col-2 {
     display: inline-block;
     width: 44%;
     vertical-align: top;
     padding-left: 3%;
     padding-right: 3%;
     text-align: justify;
   }
   .services {
     padding-left: 0;
   }
   .clients,
   .social {
     margin-left: 0;
     line-height: 1.3em;
   }
   .study,
   .services {
     padding-left: 0;
     line-height: 1.3em;
   }
 }
 
 @media screen and (min-width: 750px) {
   .projects div {
     width: 30%;
   }
 }
 
 @media screen and (min-width: 1000px) {
   .projects div {
     width: 22%;
   }
 }